<%- include('../includes/head.ejs') %>
    <title>Health Valley - login</title>
</head>

<body class="account-page">
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="">
            <%- errorMessage -%>
        </div>
        <form class="" action="/login" method="POST">
            <div class="">
                <label for="username">Username</label>
                <input class="" type="text" name="username" id="username" value="">
            </div>
            <div class="">
                <label for="password">Password</label>
                <input class="" type="password" name="password" id="" value="">
            </div>
            <input type="hidden" name="" value="">
            <button class="" type="submit">Login</button>
        </form>
        <div>Dont have an account? Please go <a href="./signup">sign up.</a></div>
        <div class="">
            <a href="./newPassword.ejs">Reset Password</a>
        </div>
    </main>
    <!-- Footer -->
    <footer class="footer bg-light text-center text-white">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- /Footer -->
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="../../public/js/jquery.min.js"></script>
    <!-- Bootstrap Core JS -->
    <script src="../../public/js/popper.min.js"></script>
    <script src="../../public/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
    <script src="../../public/js/script.js"></script>
</body>

</html>