<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>
    <main>
        <div class="">Error Message</div>
        <form class="" action="" method="POST">
            <div class="">
                <label for="email">E-Mail</label>
                <input 
                    class=""
                    type="email" 
                    name="email" 
                    id="" 
                    value="">
            </div>
            <div class="">
                <label for="password">Password</label>
                <input 
                    class=""
                    type="password" 
                    name="password" 
                    id="" 
                    value="">
            </div>
            <input type="hidden" name="" value="">
            <button class="" type="submit">Login</button>
        </form>
        <div class="">
            <a href="/reset">Reset Password</a>
        </div>
    </main>

</body>

</html>