<%- include('../includes/head.ejs') %>
    <title>Health Valley - Reset Password</title>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="">Error Message</div>

        <form class="" action="/new-password" method="POST">
            <div class="">
                <label for="password">Password</label>
                <input type="password" name="password" id="">
            </div>
            <input type="hidden" name="" value="">
            <input type="hidden" name="" value="">
            <input type="hidden" name="" value="">
            <button class="" type="submit">Update Password</button>
        </form>
    </main>
    <!-- Footer -->
    <footer class="footer bg-light text-center text-white">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- /Footer -->
</body>

</html>