<%- include('../includes/head.ejs') %>
    <title>Health Valley - Reset Email</title>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="">Error Message</div>
        <form class="" action="/reset" method="POST">
            <div class="">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email">
            </div>
            <input type="hidden" name="" value="">
            <button class="btn" type="submit">Reset E-Mail</button>
        </form>
    </main>
    <!-- Footer -->
    <footer class="footer bg-light text-center text-white">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- /Footer -->
</body>

</html>