<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>Error Message</div>
    <form class="" action="" method="POST">
        <div>
            <label for="username">username</label>
            <input class="" type="text" name="username" id="" value="">
        </div>
        <div>
            <label for="password">Password</label>
            <input class="" type="password" name="password" id="" value="">
        </div>
        <div>>
            <label for="confirmPassword">Confirm Password</label>
            <input class="" type="password" name="confirmPassword" id="" value="">
        </div>
        <div>
            <label for="firstName">First Name</label>
            <input class="" type="text" name="firstName" id="" value="">
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input class="" type="text" name="lastName" id="" value="">
        </div>
        <div>
            <label for="email">Email</label>
            <input class="" type="email" name="email" id="" value="">
        </div>
        <div>
            <label for="homeAddress">Home Address</label>
            <input class="" type="text" name="homeAddress" id="" value="">
        </div>
        <div>
            <label for="mailingAddress">Mailing Address</label>
            <input class="" type="text" name="mailingAddress" id="" value="">
        </div>
        <div>
            <label for="phoneNumber">Phone Number</label>
            <input class="" type="text" name="phoneNumber" id="" value="">
        </div>
        <input type="hidden" name="" value="">
        <button class="" type="submit">SignUp</button>
    </form>>

</body>

</html>