<%- include('../includes/head.ejs') %>
    <title>Health Valley - Sign Up</title>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div><%- errorMessage -%></div>
    <form class="" action="/signup" method="POST">
        <div>
            <label for="username">username</label>
            <input class="" type="text" name="username" id="" value="">
        </div>
        <div>
            <label for="password">Password</label>
            <input class="" type="password" name="password" id="" value="">
        </div>
        <div>>
            <label for="confirmPassword">Confirm Password</label>
            <input class="" type="password" name="confirmPassword" id="" value="">
        </div>
        <div>
            <label for="firstName">First Name</label>
            <input class="" type="text" name="firstName" id="" value="">
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input class="" type="text" name="lastName" id="" value="">
        </div>
        <div>
            <label for="email">Email</label>
            <input class="" type="email" name="email" id="" value="">
        </div>
        <div>
            <label for="homeAddress">Home Address</label>
            <input class="" type="text" name="homeAddress" id="" value="">
        </div>
        <div>
            <label for="mailingAddress">Mailing Address</label>
            <input class="" type="text" name="mailingAddress" id="" value="">
        </div>
        <div>
            <label for="phoneNumber">Phone Number</label>
            <input class="" type="text" name="phoneNumber" id="" value="">
        </div>
        <input type="hidden" name="" value="">
        <button class="" type="submit">SignUp</button>
        <div>Already have an account? <a href="../auth/login.ejs">Login</a></div>
    </form>>
    <!-- Footer -->
    <footer class="footer bg-light text-center text-white">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white">Bootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- /Footer -->

</body>

</html>