<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form class="" action="" method="POST">
        <label for="email">E-mail</label>
        <input 
            class="" 
            type="email" 
            name="email" 
            id="" 
            value="">
        <label for="password">Password</label>
        <input 
            class="" 
            type="password" 
            name="password" 
            id="" 
            value="">
        <label for="confirmPassword">Confirm Password</label>
        <input 
            class="" 
            type="password" 
            name="confirmPassword" 
            id="" 
            value="">
        <label for="firstName">First Name</label>
        <input 
            class="" 
            type="text" 
            name="firstName" 
            id="" 
            value="">
        <label for="lastName">Last Name</label>
        <input 
            class="" 
            type="text" 
            name="lastName" 
            id="" 
            value="">
    </form>>

</body>

</html>