<%- include('includes/head.ejs') %>
    <title>500</title>
</head>
<body>
    <h1>Some error has occured.</h1>
    <p>We are working on correcting the error! Sorry for any inconvenience!</p>  
</body>
</html>