<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/main.css">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../public/css/bootstrap.min.css">
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
		<!-- Main CSS -->
		<link rel="stylesheet" href="../public/css/style.css">
    <title>Health Valley - Home</title>
</head>
<body>
    <!-- *****************************HEADER*************************************************************** -->
    <!--NAVIGATION BAR-->
    <header class="header">
      <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
          <a href="index-2.html" class="navbar-brand logo">
            HealthValley
            <!-- <img src="assets/img/logo.png" class="img-fluid" alt="Logo"> -->
          </a>
        </div>
        <div class="main-menu-wrapper">
          <div class="menu-header">
            <a href="index-2.html" class="menu-logo">
              <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
            </a>
            <a id="menu_close" class="menu-close" href="javascript:void(0);">
              <i class="fas fa-times"></i>
            </a>
          </div>
          <ul class="main-nav">
            <li class="active">
              <a href="#">Home</a>
            </li>
            <li class="has-submenu">
              <a href="#">Doctors <i class="fas fa-chevron-down"></i></a>
              <ul class="submenu">
                <li><a href="appointments.html">Appointments</a></li>
              </ul>
            </li>	
            <li class="has-submenu">
              <a href="#">Patients <i class="fas fa-chevron-down"></i></a>
              <ul class="submenu">
                <li><a href="search.html">Search Doctor</a></li>
                <li><a href="booking.html">Booking</a></li>
              </ul>
            </li>	
            <li class="has-submenu">
              <a href="#">Recepcionist<i class="fas fa-chevron-down"></i></a>
              <ul class="submenu">
                <li><a href="search.html">Search Doctors</a></li>
                <li><a href="appointments.html">Appointments</a></li>
              </ul>
            </li>
            <li class="login-link">
              <a href="/login">Login / Signup</a>
            </li>
          </ul>
        </div>		 
        <ul class="nav header-navbar-rht">
          <li class="nav-item">
            <a class="nav-link header-login" href="/login">login / Signup </a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- /Header -->
    <!--****************************************** Body********************************************************-->
    <!--HERO BANNER-->
    <section class="bgimage">
        <div class="container-fluid">
          <div class="row">
            <div class="heroText col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h4>Because We Know Health is Important</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem tenetur pariatur, suscipit recusandae quae nihil sunt repellendus inventore magnam accusantium necessitatibus fugit ea voluptatem impedit culpa mollitia doloribus sapiente explicabo!</p>
              <p><a href="#" class="btn btn-primary btn-large">Create Your Appointment</a></p>
            </div>
          </div>
        </div>
      </section>
      <!--OPTIONS FOR PATIENTS ( DOCTORS AND CREATE APPOINTMENT)-->
      <h2>Welcome Patients!</h2>
      <section class="patientOptions">
        <div class="row">
            <div class="col">
                <h4>Welcome Patients</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore deleniti incidunt temporibus assumenda deserunt reiciendis, nostrum veritatis aut? Itaque quos temporibus commodi rerum excepturi eligendi delectus, soluta maxime blanditiis.</p>
                <a href="./doctorsList.html"><button type="button" class="btn btn-primary">Find Doctor</button></a>
            </div>
            <div class="col">
                <h4>Appointments</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim provident, odio mollitia placeat architecto impedit veniam odit culpa magni aspernatur voluptatum non facere explicabo adipisci nam et neque harum debitis?</p>
                <button type="button" class="btn btn-primary"> Schedule Now!</button>
            </div>
        </div>
      </section>
    <!--*************************************** Footer***************************************************** -->
    <footer class="bg-light text-center text-white">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white">Boostrap</a>
        </div>
        <!-- Copyright -->
      </footer>
</body>
</html>