<%- include('../includes/head.ejs') %>
    <title>Health Valley - Home</title>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
    <!--****************************************** Body********************************************************-->
    <!--HERO BANNER-->
    <section class="bgimage">
        <div class="container-fluid">
          <div class="row">
            <div class="heroText col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h4>Because We Know Health is Important</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem tenetur pariatur, suscipit recusandae quae nihil sunt repellendus inventore magnam accusantium necessitatibus fugit ea voluptatem impedit culpa mollitia doloribus sapiente explicabo!</p>
              <p><a href="#" class="btn btn-primary btn-large">Create Your Appointment</a></p>
            </div>
          </div>
        </div>
      </section>
      <!--OPTIONS FOR PATIENTS ( DOCTORS AND CREATE APPOINTMENT)-->
      <h2>Welcome Patients!</h2>
      <section class="patientOptions">
        <div class="row">
            <div class="col">
                <h4>Welcome Patients</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore deleniti incidunt temporibus assumenda deserunt reiciendis, nostrum veritatis aut? Itaque quos temporibus commodi rerum excepturi eligendi delectus, soluta maxime blanditiis.</p>
                <a href="./doctorsList.html"><button type="button" class="btn btn-primary">Find Doctor</button></a>
            </div>
            <div class="col">
                <h4>Appointments</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim provident, odio mollitia placeat architecto impedit veniam odit culpa magni aspernatur voluptatum non facere explicabo adipisci nam et neque harum debitis?</p>
                <button type="button" class="btn btn-primary"> Schedule Now!</button>
            </div>
        </div>
      </section>
    <!--*************************************** Footer***************************************************** -->
    <footer class="bg-light text-center text-white">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white">Boostrap</a>
        </div>
        <!-- Copyright -->
      </footer>
</body>
</html>