<%- include('includes/head.ejs') %>
    <title>Health Valley - Search Doctor</title>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <!-- DOctors LIST -->
    <section class="doctorsContainer">
        <div class="container mt-5 mb-5">
            <div class="d-flex justify-content-between mb-3"> <span>Doctors</span> <button
                    class="btn btn-primary add">Add Doctors</button> </div>
            <div class="row g-2">
                <div class="col-md-3">
                    <div class="card p-2 py-3 text-center">
                        <div class="img mb-2"> <img src="" width="70" class="rounded-circle"> </div>
                        <h5 class="mb-0">Patey Cruiser</h5> <small>Neurosurgeon</small>
                        <div class="mt-4 apointment"> <button class="btn btn-primary text-uppercase">Book
                                Appointment</button> </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-2 py-3 text-center">
                        <div class="img mb-2"> <img src="" width="70" class="rounded-circle"> </div>
                        <h5 class="mb-0">Mario Speedway</h5> <small>Cardiologist</small>
                        <div class="mt-4 apointment"> <button class="btn btn-primary text-uppercase">Book
                                Appointment</button> </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-2 py-3 text-center">
                        <div class="img mb-2"> <img src="" width="70" class="rounded-circle"> </div>
                        <h5 class="mb-0">Anna Sthesia</h5> <small>Surgeon</small>
                        <div class="mt-4 apointment"> <button class="btn btn-primary text-uppercase">Book
                                Appointment</button> </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-2 py-3 text-center">
                        <div class="img mb-2"> <img src="" width="70" class="rounded-circle"> </div>
                        <h5 class="mb-0">Paul Moliv</h5> <small>Dentist</small>
                        <div class="mt-4 apointment"> <button class="btn btn-primary text-uppercase">Book
                                Appointment</button> </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-2 py-3 text-center">
                        <div class="img mb-2"> <img src="" width="70" class="rounded-circle"> </div>
                        <h5 class="mb-0">Anna Maul</h5> <small>Eye Specialist</small>
                        <div class="mt-4 apointment"> <button class="btn btn-primary text-uppercase">Book
                                Appointment</button> </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-2 py-3 text-center">
                        <div class="img mb-2"> <img src="" width="70" class="rounded-circle"> </div>
                        <h5 class="mb-0">Gail Forcewind</h5> <small>Urology</small>
                        <div class="mt-4 apointment"> <button class="btn btn-primary text-uppercase">Book
                                Appointment</button> </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-2 py-3 text-center">
                        <div class="img mb-2"> <img src="" width="70" class="rounded-circle"> </div>
                        <h5 class="mb-0">Patey Cruiser</h5> <small>Neurosurgeon</small>
                        <div class="mt-4 apointment"> <button class="btn btn-primary text-uppercase">Book
                                Appointment</button> </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-2 py-3 text-center">
                        <div class="img mb-2"> <img src="" width="70" class="rounded-circle"> </div>
                        <h5 class="mb-0">Patey Cruiser</h5> <small>Neurosurgeon</small>
                        <div class="mt-4 apointment"> <button class="btn btn-primary text-uppercase">Book
                                Appointment</button> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--*************************************** Footer***************************************************** -->
    <footer class="bg-light text-center text-white">
        <!-- Grid container -->

        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</body>

</html>